<link rel="stylesheet" href="./css/bootstrap.min.css">
<script src="./js/jquery-3.2.1.slim.min.js"></script>
<script	src="./js/popper.min.js" ></script>
<script src="./js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header">
<nav class="navbar navbar-default" style="background-color: #19839e;">
	
		<div class="navbar-header">
			<a class="navbar-brand" href="#" style="color: white;"> <img
				src="./img/icon.png" width="30" height="30"
				class="d-inline-block align-top" alt=""> Smart Account
				Services
			</a>
		
		</div>
		<div style="color:white;">User : Chalongchai / 
		<a href="./home"><span class="badge badge-danger">Sign out</span></a></div>
</nav>		
<div style="height:10px;background-color:white;"></div>
