<html>
<div th:replace="../fragments/header_login.html :: header_include"></div>
<body>
<div th:replace="../fragments/header_login.html :: header_login"></div>
	<div class="row">
		<div class="col-sm-3">
			<div style="padding-left: 100px;">
				<br>Customer Search <br>
				<br>
				<form method="GET" action="./customer">
					<table>

						<tr>
							<td>CIF</td>
							<td><input type="text" class="form-control small"
								placeholder="cif number"></td>
						</tr>
						<tr>
							<td>First name</td>
							<td><input type="text" class="form-control"
								placeholder="first name"></td>
						</tr>
						<tr>
							<td>Last name</td>
							<td><input type="text" class="form-control"
								placeholder="last name"></td>
						</tr>
						<tr>
							<td>Citizen ID</td>
							<td><input type="text" class="form-control"
								placeholder="citizen id 13 digits"></td>
						</tr>
						<tr>
							<td>Account Number</td>
							<td><input type="text" class="form-control"
								placeholder="account number 10 digits"></td>
						</tr>
						<tr>
							<td></td>
							<td><br>
							<input type="submit" class="btn btn-success btn-sm"
								value="Search"> <input type="button"
								class="btn btn-success btn-sm" value="Clear"></td>
						</tr>
					</table>
				</form>
			</div>
		</div>

		<div style="padding-left: 100px; width: 85%;">
			Search Result <br> <br>
			<table class="table table-sm">
				<thead class="thead-light">
					<tr>
						<th scope="col">CIF</th>
						<th scope="col">Citizen ID</th>
						<th scope="col">Customer Name</th>
						<th scope="col">Address</th>
						<th scope="col">Status</th>
						<th scope="col">View</th>
					</tr>
				</thead>
				<tr th:each="customer : ${customers}">
					<td><span th:text="${customer.cifNo}"></span></td>
					<td><span th:text="${customer.citizenId}"></span></td>
					<td><span
						th:text="${customer.firstNameTh+' '+customer.lastNameTh}"></span></td>
					<td><span th:text="${customer.wkAddrNo}"></span></td>
					<td>Active</td>
					<td>view account</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>