
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Customer Information</title>
<link rel="stylesheet" href="./css/bootstrap.min.css">
<script src="./js/bootstrap.min.js"></script>
</head>
</head>
<body>
<div >
<table style="font-size: 12px;" >
<tr>
  <td>CIF Number</td><td><b><span th:text="${customer.cifNo}"></span></b></td><td width="100"></td><td>Customer Status</td><td>Active</td>
</tr>
<tr>
  <td>Customer Date</td><td><span th:text="${#dates.format(customer.createdDate, 'dd/MM/yyyy')}"></span></td><td width="20"></td><td>Occupation</td><td><span th:text="${customer.occupation}"></span></td>
</tr>
<tr>
  <td>Name</td><td><span th:text="${customer.firstNameTh}"></span></td><td width="20"></td><td>Last Name</td><td><span th:text="${customer.lastNameTh}"></span></td>
</tr>
<tr>
  <td>Name English</td><td><span th:text="${customer.firstNameEn}"></span></td><td width="20"></td><td>Last name English</td><td><span th:text="${customer.LastNameEn}"></span></td>
</tr>
<tr>
  <td>Customer type</td><td><span th:text="${customer.customerType}"></span></td><td width="20"></td><td>Home phone</td><td><span th:text="${customer.homeNumber}"></span></td>
</tr>
<tr>
  <td>Citizen ID</td><td><span th:text="${customer.citizenId}"></span></td><td width="20"></td><td>Mobile number</td><td><span th:text="${customer.mobileNumber}"></span></td>
</tr>
<tr>
  <td>Address</td><td><span th:text="${customer.wkAddrNo}"></span></td><td width="20"></td><td>Customer Consent</td><td>yes</td>
</tr>
<tr>
  <td>Nationality</td><td><span th:text="${customer.nationality}"></span></td><td width="20"></td><td>Consent Date</td><td>12/02/2019</td>
</tr>
<tr>
  <td>Date of Birth</td><td><span th:text="${#dates.format(customer.birthDate, 'dd/MM/yyyy')}"></span></td><td width="20"></td><td></td><td></td>
</tr>
<tr>
  <td colspan="5" align="right"></td>
</tr>
</table>
</div>

</body>
</html>