
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Customer Information</title>
<link rel="stylesheet" href="./css/bootstrap.min.css">
<script src="./js/bootstrap.min.js"></script>
</head>
</head>
<body>
<div >
<table style="font-size: 12px;" >
<tr>
  <td><b>CIF Number</b></td><td><span th:text="${customer.cifNo}"></span></td><td width="100"></td><td>Education</td><td>Master degree</td>
</tr>
<tr>
  <td>Customer Date</td><td><span th:text="${#dates.format(customer.createdDate, 'dd MMM yyyy')}"></span></td><td width="20"></td><td>Occupation</td><td><span th:text="${customer.occupation}"></span></td>
</tr>
<tr>
  <td>Name Thai</td><td><span th:text="${customer.firstNameTh}"></span></td><td width="20"></td><td>Business type</td><td>Company</td>
</tr>
<tr>
  <td>Name English</td><td><span th:text="${customer.firstNameEn}"></span></td><td width="20"></td><td>Email</td><td>mas123@mail.com</td>
</tr>
<tr>
  <td>Customer type</td><td>Individual</td><td width="20"></td><td>Home phone</td><td><span th:text="${customer.homeNumber}"></span></td>
</tr>
<tr>
  <td>Citizen ID</td><td><span th:text="${customer.citizenId}"></span></td><td width="20"></td><td>Mobile number</td><td>098-8889998</td>
</tr>
<tr>
  <td>Address</td><td><span th:text="${customer.wkAddrNo}"></span></td><td width="20"></td><td>Customer Consent</td><td>yes</td>
</tr>
<tr>
  <td>Nationality</td><td>Thai</td><td width="20"></td><td>Consent Date</td><td>12/02/2019</td>
</tr>
<tr>
  <td>Date of Birth</td><td>10/20/2000</td><td width="20"></td><td>Customer Status</td><td>Active</td>
</tr>
<tr>
  <td>Gender</td><td>Male</td><td width="20"></td><td>Martial status</td><td>Single</td>
</tr>
<tr>
  <td colspan="5" align="right"></td>
</tr>
</table>
</div>

</body>
</html>