<div th:replace="../fragments/header_login.html :: header_include"></div>
<body>
	<div th:replace="../fragments/header_login.html :: header_login"></div>
	<div style="padding-left: 100px;">
		<br>Bulk Account opening <br>
		<table style="width: 85%">
			<tr>
				<td colspan="9" align="right"><input type="button"
					value="Upload" class="btn btn-success btn-sm"></input> <input
					type="button" value="Delete" class="btn btn-danger btn-sm"></input>
					<input type="button" value="Validate"
					class="btn btn-primary btn-sm"></input> <input type="button"
					value="Account Creation" class="btn btn-warning btn-sm"></input></td>

			</tr>
		</table>
		<br>
		<table class="table table-sm" style="width: 85%;font-size:13px;">

			<thead class="thead-light">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Filename</th>
					<th scope="col">total records</th>
					<th scope="col">validate passed</th>
					<th scope="col">validate failed</th>
					<th scope="col">Failed</th>
					<th scope="col">Passed</th>
					<th scope="col">status</th>
					<th scope="col">Remark</th>
				</tr>
			</thead>
			<tr>
				<td><div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input"
							id="defaultUnchecked1"> <label
							class="custom-control-label" for="defaultUnchecked1"></label>
					</div></td>
				<td>BULK_ACT_20191010.txt</td>
				<td>25</td>
				<td>25</td>
				<td>0</td>
				<td>1</td>
				<td>24</td>
				<td>Waiting process</td>
				<td></td>
			</tr>
			<tr>
				<td><div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input"
							id="defaultUnchecked2"> <label
							class="custom-control-label" for="defaultUnchecked2"></label>
					</div></td>
				<td>BULK_ACT_20191011.txt</td>
				<td>30</td>
				<td>30</td>
				<td>0</td>
				<td>1</td>
				<td>30</td>
				<td>Done</td>
				<td></td>
			</tr>
		</table>
	</div>
</body>
</html>