<div th:replace="../fragments/header_login.html :: header_include"></div>
<script>
$(document).ready(function() {
   
    $('#confirm-delete').on('show.bs.modal', function(e) {
        	
            var deleteId = [];
            $.each($("input[name='bulkChk']:checked"), function(){            
            	deleteId.push($(this).attr('id'));
            });
            
            $('#deleteItems').val(deleteId.join(", "));
            if(deleteId.length==0){
            	$('#buttonCancel').text("OK")
            	$('#buttonDelete').hide()
             	$('.modal-header').html("<h5>Confirm delete.</h5>")
            	$('.modal-body').text('Please select item to delete', function() {
    				$('#confirm-delete').modal({
    					show : true
    				});
    			});
            	
            }else if(deleteId.length==1){
            	$('#buttonDelete').show()
            	$('#buttonCancel').text("Cancel")
            	$('.modal-header').html("<h5>Delete item</h5>")
            	$('#buttonDelete').prop("onclick", null).off("click");
            	$('#buttonDelete').click(function() {
            		$('#deleteForm').submit();
				});
            	$('.modal-body').text('Are you sure you want to delete this bulk file?', function() {
    				$('#confirm-delete').modal({
    					show : true
    				});
    			});
            	
            }else if(deleteId.length>1){
            	$('#buttonDelete').show()
            	$('#buttonCancel').text("Cancel")
            	$('.modal-header').html("<h5>Delete multiple items</h5>")
            	$('#buttonDelete').prop("onclick", null).off("click");
            	$('#buttonDelete').click(function() {
            		$('#deleteForm').submit();
				});
            	$('.modal-body').text('Are you sure you want to delete these bulk file?', function() {
    				$('#confirm-delete').modal({
    					show : true
    				});
    			});
            }
            //$(this).closest("form").submit();
           	
           	
           
    });
});
</script>
<body>
	<div th:replace="../fragments/header_login.html :: header_login"></div>
	<div style="padding-left: 100px;">
		<br>Bulk Account opening <br>
		<div class="d-flex flex-wrap justify-content-end"
			style="padding-right: 15%;">
			<div>
				<form method="POST" action="./bulkupload" enctype="multipart/form-data">
					<label class="btn btn-success btn-sm"> Upload <input
						type="file" hidden="" onchange="this.form.submit()" name="bulkfile">
					</label>
				</form>

			</div>
			<div>
				<form id="deleteForm" method="POST" action="./bulkdelete" >
					<input type="hidden" id = "deleteItems" name = "deleteItems"></input>
<!-- 					<input type="button" id = "Btndelete" value="Delete" class="btn btn-danger btn-sm"></input> -->
					<a href="#" class="btn btn-danger btn-sm" data-href="delete.php?id=23" data-toggle="modal" data-target="#confirm-delete">Delete</a>
					
				</form>
			</div>
			<div>
				<input type="button" id = "BtnValidate" value="Validate" class="btn btn-primary btn-sm"></input>
			</div>
			<div>
				<input type="button" id = "BtnAcctCreate" value="Create account" class="btn btn-warning btn-sm"></input>
			</div>

		</div>
		<br>
		<table class="table table-sm" style="width: 85%;font-size:13px;">

			<thead class="thead-light">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Filename</th>
					<th scope="col">total records</th>
					<th scope="col">validate passed</th>
					<th scope="col">validate failed</th>
					<th scope="col">Failed</th>
					<th scope="col">Passed</th>
					<th scope="col">status</th>
					<th scope="col">Remark</th>
				</tr>
			</thead>
			<tr th:each="bulkfile : ${bulkfiles}">
				<td><div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" name="bulkChk"
							th:attr="id=${bulkfile.id}" > <label
							class="custom-control-label" th:attr="for=${bulkfile.id}"></label>
					</div></td>
				<td><span th:text="${bulkfile.fileName}"></span></td>
				<td><span th:text="${bulkfile.totalRec}"></span></td>
				<td><span th:text="${bulkfile.totalPassed}"></span></td>
				<td><span th:text="${bulkfile.totalFailed}"></span></td>
				<td><span th:text="${bulkfile.totalRejected}"></span></td>
				<td><span th:text="${bulkfile.totalCompleted}"></span></td>
				<td><span th:text="${bulkfile.getAoStatusFile().getCode()}"></span></td>
				<td><span th:text="${bulkfile.getAoStatusFile().getStatusDesc()}"></span></td>
			</tr>
		</table>
	</div>
	
	<div class="modal" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Delete items</h5>
            </div>
            <div class="modal-body">
                Are you sure you want to delete these bulk files?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="buttonCancel">Cancel</button>
                <a class="btn btn-danger btn-ok" id="buttonDelete" >OK</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>